@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0; padding: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  a, a:link, a:visited {
    @apply text-primary no-underline;
  }
  a:hover, a:focus {
    @apply text-tertiary underline;
  }
  a:active {
    @apply text-lightest no-underline;
  }
  h1 {
    @apply text-3xl font-bold leading-[3em];
  }
  h2 {
    @apply text-2xl font-bold leading-[2.5em];
  }
  h3 {
    @apply text-xl font-bold leading-[2em] text-primary;
  }
  h4 {
    @apply text-lg font-bold leading-[1.5em];
  }
}

@layer components {

  nav a, nav a:link, nav a:visited, nav a:hover, nav a:focus, nav a:active {
    @apply text-black no-underline;
  }

  .main {
    @apply w-screen m-0 p-0;
  }
  .logo-text {
    @apply font-bold text-black text-3xl;
  }
  .logo-text-inverted {
    @apply font-bold text-white text-3xl;
  }

  .menu-item {
    @apply py-4 px-2 text-black font-semibold hover:text-tertiary transition duration-300 pb-10;
  }
  .menu-item-inverted {
    @apply py-4 px-2 text-white font-semibold hover:text-lightest transition duration-300 pb-10;
  }
  .menu-item-active {
    @apply py-4 px-2 text-primary font-bold border-primary border-b-4 pb-10 mt-1;
  }
  .mobile-menu .menu-item {
      @apply block hover:text-primary;
  }
  .mobile-menu .menu-item-active {
      @apply block bg-primary text-white border-none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
